<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Liquidlab_AdminMenu::menu"
             title="Liquidlab"
             module="Liquidlab_AdminMenu"
             translate="title"
             sortOrder="55"
             resource="Liquidlab_AdminMenu::menu"/>
        <add id="Liquidlab_AdminMenu::content"
             title="Content"
             module="Liquidlab_AdminMenu"
             translate="title"
             sortOrder="8000"
             parent="Liquidlab_AdminMenu::menu"
             resource="Liquidlab_AdminMenu::content"/>
        <add id="Liquidlab_AdminMenu::configuration"
             title="Configuration"
             module="Liquidlab_AdminMenu"
             translate="title"
             sortOrder="8000"
             parent="Liquidlab_AdminMenu::menu"
             resource="Liquidlab_AdminMenu::configuration"/>
    </menu>
</config>
